*{
    margin:0;
    padding:0;
}
.v1{
    position: absolute;
    width: 44px;
    height: 50.75px;
    left: 135px;
    top: 11px;
}
.v2{
    position: absolute;
    width: 145px;
    height: 14px;
    left: 190px;
    top: 29px;

    color: #000000;
}
.bc{
    position: absolute;
    width: 1480px;
    height: 636px;
    left: -1px;
    top: 73px;
}
.f{
position: absolute;
left: 35.07%;
right: 35.07%;
top: 20.97%;
bottom: 13.97%;

background: #FFFFFF;
border-radius: 10px;
}
.v3{
    position: absolute;
    width: 10.8px;
    height: 5.51px;
    left: 151.65px;
    top: 36.43px;

    background: #6496EB;
}
.login1{
position: absolute;
left: 36.18%;
right: 45.83%;
top: 10.75%;
bottom: 66.09%;
font-style: normal;
font-weight: 700;
font-size: 42px;
line-height: 52px;

text-align: center;
letter-spacing: -0.4px;

color: #1E0E62;
}
.email{
    box-sizing:border-box;
    position:absolute;
    width:380px;
    height:60px;
    left:25px;
    top:140px;
    border: 2px solid #EBEAED;
    border-radius: 100px;
}
.password{
    box-sizing:border-box;
    position:absolute;
    width:380px;
    height:60px;
    left:25px;
    top:220px;
    border: 2px solid #EBEAED;
    border-radius: 100px;
}
.login{
    position: absolute;   
    width: 380px;
    height: 60px;
    left: 25px;
    top: 325px;
    background: #6496EB;;
    backdrop-filter: blur(200px);
    border-radius: 38px;
}
.femail{
    position: absolute;
    width: 114px;
    height: 28px;
    left:20px;
    top: 15px;
    border:none;
    outline:none;
    background: transparent;
}
.fpassword{
    position: absolute;
    width: 114px;
    height: 28px;
    left:20px;
    top: 15px;
    border:none;
    outline:none;
    background: transparent;

}
.t{
 position: absolute;
width: 86px;
height: 32px;
left: 130px;
top: 750px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 31px;

text-align: center;
letter-spacing: -0.292683px;

color: #000000;
}
.d{
    position: absolute;
    left: 9.45%;
    right: 9.31%;
    top: 118%;
    bottom: 49.17%;
    
    mix-blend-mode: normal;
    opacity: 0.3;
    border: 1px solid black;
}
.h{
    position: absolute;
    height: 26px;
    left: 9.38%;
    right: 87.57%;
    top: 125%;


    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;


    color: #000000;


}
.a{
position: absolute;
height: 26px;
left: 13.61%;
right: 81.18%;
top: 125%;


font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;

color: #000000;
}
.c{
position: absolute;
height: 26px;
left: 19.94%;
right: 73.59%;
top: 125%;


font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;


color: #000000;
}
.cop{
position: absolute;
height: 15px;
left: 72.93%;
right: 9.31%;
top: 126%;


font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;

text-align: right;

color: #000000;

mix-blend-mode: normal;
}
.i{
position: absolute;
width: 136px;
height: 26px;
left: 160px;
top: 395px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;


display: flex;
align-items: center;

color: #F75B46;

border-radius: 100px;
}

